/******************
MAIN PAGE ELEMENTS
*******************/


/******************

*******************/

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height:2000px;
}
.container {
    margin: 0 auto;
}

/******************
WELCOME-CONTENTBACKGROUND IMAGE
*******************/

#welcome-content {
  background: url('Images/black-rose.png')no-repeat top center;
  background-size:cover;
  height:1000px;
}

/******************
HEADER
*******************/

#header {
    height: 125px;
    width: 100%;
    background-color:transparent;;
}

/******************
NAVIGATION TITLE
*******************/

#header .navigation-title {
    width: 49%;
}
#header .navigation-title h1 {
    font-size: 48px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #d3d3d3;
    float: left;
    margin-left: 15%;
}

/******************
NAVIGATION LINKS
*******************/

#header .navigation-links {
    width: 48%;
    height: 125px;
    float: right;
}

/******************
STYLING OF NAV LINKS
*******************/

  #header .navigation-links .hover-nav {
      font-family: 'Raleway', Arial, sans-serif;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
  }
  #header .navigation-links .hover-nav * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
  }
  #header .navigation-links .hover-nav li {
      display: inline-block;
      list-style: outside none none;
      margin: 30px;
      padding: 0;
  }
  #header .navigation-links .hover-nav a {
      padding: 10px 0;
      color: rgba(255, 255, 255, 0.5);
      position: relative;
      text-decoration: none;
      display: inline-block;
  }
  #header .navigation-links .hover-nav a:before {
      position: absolute;
      content: '';
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
      opacity: 0;
      top: 25%;
      bottom: 25%;
      left: 0;
      right: 0;
      border-top: 3px solid #d3d3d3;
      border-bottom: 3px solid #d3d3d3;
  }
  #header .navigation-links .hover-nav a:hover, #header .navigation-links .hover-nav .current a {
      color: #ffffff;
  }
  #header .navigation-links .hover-nav a:hover:before, #header .navigation-links .hover-nav .current a:before {
      opacity: 1;
      top: 0;
      bottom: 0;
  }

/******************
WELCOME MESSAGE
*******************/

#welcome-message {
  text-align: center;
  padding:10% 25%;
}

#welcome-message h1 {
  font-size: 48px;
  color: floralwhite;
  text-shadow: 2px 2px #5d5d5d;
  font-family: 'Raleway', serif;
}

#welcome-message i {
  color:#d3d3d3;
}



/******************
BUTTONS
*******************/
/***** out for now sista

.white-button {
    color: #fff;
    background-color: #e74c3c;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 50px;
    border-radius: 2px;
    border: 1px solid #e74c3c;
    margin: 20px;
    cursor:pointer;
}
.white-button:hover {
    color: #e74c3c;
    background-color: #fff;
    transition: all .2s ease-in;
}

****/

button.white-button {
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #5d5d5d;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 40px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: 500;
    font-size: 1em;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border:1px solid #fff
}
button.white-button span {
    display: inline-block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.8;
    color:#d3d3d3;
}
button.white-button i {
    font-size: 22px;
    right: 11px;
    top:11px;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
button.white-button:before {
    content: '';
    top: 0;
    right: 0;
    width: 0;
    position: absolute;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
button.white-button:hover span {
    -webkit-transform: translate3d(-20px, 0px, 0px);
    transform: translate3d(-20px, 0px, 0px);
    opacity: 1;
}
button.white-button:hover i {
    opacity: 1;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
button.white-button:hover:before {
    width: 44px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
button.white-button:active:before {
    background: rgba(255, 255, 255, 0.3);
}



/******************

*******************/

/******************

*******************/

/******************

*******************/


/******************

*******************/
